body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    max-height: 100vh;
    flex-wrap: wrap;
    
}

/*  Rotating Button */
a.rotating {
    text-decoration: none;
    color: #272727;
    font-family: sans-serif;
    font-size: 1rem;
    border: 2px solid #272727;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.5s;
 

}

a.rotating:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2f474e;
    height: 100%;
    width: 100%;
    border: 2px solid #2f474e;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

a.rotating:hover:before {
    transform: rotate(0deg);
}
a.rotating:hover{
    color: #fff;
}

/*  Swipe Button */
a.swipe {
    text-decoration: none;
    color: #2f474e;
    font-family: sans-serif;
    font-size: 1rem;
    border: 2px solid #2f474e;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.5s;
}

a.swipe:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2f474e;
    height: 100%;
    width: 100%;
    z-index: -1;
    border: 2px solid #2f474e;
    transform-origin: bottom left;
    transform: translateX(calc(-100% - 1px));
    transition: all 0.5s;
  
}

a.swipe:hover:before {
    transform: translateX(0);  
}
a.swipe:hover {
    color: #fff;

}


/*  Window open Button */
a.window-open {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 1rem;
    border: 2px solid #262626;
    padding: 1rem calc(2rem - 5*2px);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    letter-spacing: 2px;
    transition: all 0.5s;
}

a.window-open:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #2f474e;
    background-color: #2f474e;
    height: 100%;
    width: calc(100% );
    z-index: -1;
    transform: rotateX(90deg);
    transition: transform 0.5s;
}

a.window-open:hover:before {
    transform: rotateX(0deg);
}

a.window-open:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #2f474e;
    background-color: #2f474e;
    height: 100%;
    width: calc(100% );
    z-index: -1;
    transform: rotateY(90deg);
    transition: transform 0.5s;
}

a.window-open:hover:after {
    transform: rotateY(0deg);
}
a.window-open:hover {
    color: #fff;
}

/* Glowing */
a.glowing {
    text-decoration: none;
    background: #262626;
    color: #fff;
    font-family: sans-serif;
    font-size: 1rem;
    border: 2px solid #fff;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.3s;
}

a.glowing:hover {
    background: #588796;
}

a.glowing:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    background-color: #fff;
    height: 50%;
    width: 100%;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.5s;
}

a.glowing:hover:before {
    transform: translate(100%) rotate(45deg);
}


/* Text scaling */
a.text-scaling {
    text-decoration: none;
    background: #fff;
    color: #262626;
    font-family: sans-serif;
    font-size: 1rem;
    border: 2px solid #262626;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.3s;
}

a.text-scaling:before {
    content: 'Hover Me';
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background-color: #262626;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    transition: all 0.5s;
    opacity: 0;
}

a.text-scaling:hover:before {
    opacity: 1;
    transform: scale(1);
}

/* Circular swapping */
a.circular-swapping {
    text-decoration: none;
    color: tomato;
    font-family: sans-serif;
    font-size: 1rem;
    border: 2px solid tomato;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.3s;
}

a.circular-swapping:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: tomato;
    height: 0%;
    width: 100%;
    transition: all 0.5s;
    z-index: -1;
    border-radius: 0 0 50% 50%;
}

a.circular-swapping:hover:before {
    height: 200%;
}

a.circular-swapping:hover {
    color: #fff;
}

/* Layers swapping Left to right*/
button.layers-swapping {
    text-decoration: none;
    color: transparent;
    font-family: sans-serif;
    font-size: 1rem;
    border: 2px solid tomato;
    padding: 1rem 2rem;
    position: relative;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;
}

button.layers-swapping:before {
    content: 'Hover Me';
    position: absolute;
    color: tomato;
    background-color: #262626;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.layers-swapping:after {
    content: 'Hover Me';
    position: absolute;
    color: tomato;
    background-color: #262626;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
}

button.layers-swapping:hover:before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

button.layers-swapping:hover:after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}

/* 3 circles */
a.three-circles {
    text-decoration: none;
    color: tomato;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    position: relative;
    transition: all 0.3s;
}
a.three-circles:before, a.three-circles:after {
    content: '';
    position: absolute;
    top: 50%;
    height: 14px;
    width: 14px;
    background-color: tomato;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    z-index: -1;
    opacity: 0;
}

a.three-circles:before {
    left: 0;
    box-shadow: -80px 0 0 tomato;
}

a.three-circles:after {
    right: 0;
    box-shadow: 80px 0 0 tomato;

}

a.three-circles:hover:before {
    left: 50%;
    box-shadow: 30px 0 0 tomato;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}
a.three-circles:hover:after {
    right: 50%;
    box-shadow: -30px 0 0 tomato;
    transform: translateX(50%) translateY(-50%);
    opacity: 1;
}

a.three-circles span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: tomato;
    border-radius: 4px;
    transform: scale(0);
    transition: all 0.3s;
    z-index: -1;
}

a.three-circles:hover span {
    transform: scale(1);
    transition-delay: 0.2s;
}

a.three-circles:hover {
    color: #fff;
    transition-delay: 0.2s;
}

/* two-backgrounds*/
a.two-backgrounds {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    position: relative;
    transition: all 0.3s;
    background-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    width: 10%;
    text-align: center;
    line-height: 1rem;
   
}

a.two-backgrounds:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height:100%;
    background-color: #20caff;
    z-index: -1;
    mix-blend-mode: multiply;
    transform-origin: top;
    transition: all 0.3s;
}
a.two-backgrounds:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height:100%;
    background-color: #ff7675;
    z-index: -1;
    mix-blend-mode: multiply;
    transform-origin: bottom;
    transition: all 0.3s;
}

a.two-backgrounds:hover:before {
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(75deg);
}
a.two-backgrounds:hover:after {
    top: 6px;
    left: 0;
    transform: perspective(1000px) rotateX(-75deg);
}
a.two-backgrounds:hover {
    color: #333;
}

/* splitted*/
a.splitted {
    text-decoration: none;
    color: #2f474e;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    position: relative;
    transition: all 0.5s;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
    border: 3px solid #2f474e;
    overflow: hidden;
}

a.splitted:before, a.splitted:after {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #2f474e;
    z-index: -1;
    transition: all 0.5s;
}

a.splitted:before {
    top: 100%;
    left: 0;
}

a.splitted:after {
    top: -100%;
    left: 25%;
    transition-delay: 0.1s;
}

a.splitted:hover:before{
    top: 0;
    left: 0;
}
a.splitted:hover:after{
    top: 0;
    left: 25%;
}


a.splitted span:before, a.splitted span:after{
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #2f474e;
    z-index: -1;
    transition: all 0.2s;
}

a.splitted span:before {
    top: -100%;
    right: 0;
    transition-delay: 0.3s;
}

a.splitted span:after{
    top: 100%;
    right: 25%;
    transition-delay: 0.2s;
}

a.splitted:hover span:before {
    top: 0;
    right: 0;
}

a.splitted:hover span:after{
    top: 0;
    right: 25%;
}

a.splitted:hover {
    color: #fff;
}

/* border-swapping */
a.border-swapping {
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    position: relative;
    transition: all 0.5s;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
}

a.border-swapping:before {
    content: '';
    position: absolute;
    height: calc(100% + 20px);
    width: 100%;
    top: -10px;
    left: 0;
    border-left: 2px solid #20caff;
    border-right: 2px solid #ff7675;
    transition: all 0.8s;
}

a.border-swapping:after {
    content: '';
    position: absolute;
    height: 100%;
    width: calc(100% + 20px);
    top: 0;
    left: -10px;
    border-top: 2px solid #20caff;
    border-bottom: 2px solid #ff7675;
    transition: all 0.8s;
    transition-delay: 0.2s;
}

a.border-swapping:hover:before{
    transform: rotateY(180deg);
}

a.border-swapping:hover:after{
    transform: rotateX(180deg);
}

/* border-growing */
button.border-growing {
    background: transparent;
    border: none;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    overflow: hidden;
    cursor: pointer;
}
button.border-growing:before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: #588796;
    transition: all 0.3s;
}

button.border-growing:hover:before{
    left: 0;
}
button.border-growing:after{
    content: '';
    position: absolute;
    top: calc(100% - 2px);
    left: 100%;
    width: 100%;
    height: 2px;
    background-color: #588796;
    transition: all 0.3s;
}
button.border-growing:hover:after{
    left: 0;
}

button.border-growing span:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #588796;
    transition: all 0.3s;
}

button.border-growing:hover span:before {
    top: 0;
}
button.border-growing span:after{
    content: '';
    position: absolute;
    top: -100%;
    left: calc(100% - 2px);
    width: 2px;
    height: 100%;
    background-color: #588796;
    transition: all 0.3s;
}
button.border-growing:hover span:after{
    top: 0;
}

/* wavy */
a.wavy {
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1rem;
    color: #00aeff;
    letter-spacing: 1px;
    border: 2px solid #00aeff; 
    text-transform: uppercase;
    position: relative;
    transition: all 0.5s;
    transition-delay: 0.3s;
    overflow: hidden;
}

a.wavy div.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(100% + 22px);
    background-color: #00aeff;
    transition: all 1s;
    z-index: -1;

}
a.wavy div.wave:before {
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url('images/wave.png');
    animation: wavy 0.5s linear infinite;
}
a.wavy:hover div.wave{
    top: 0;
}

a.wavy:hover {
    color: #fff;
}

@keyframes wavy {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 118px;
    }
}